BODY {
    font-family: Verdana,sans-serif;
}

#container {
    max-width: 50em;
    margin: 0 auto;
    background-color: #fff;
}

h1 {
    color: #fff;
    background: #1E31AA;
    padding: 0.5em;
    margin: 0;
    font-size: 2em;
    text-align: center;
    border-radius: 0.5em 0.5em 0 0;
}

h2, h3 {
    color: #1E31AA;
}

header {
    margin: 0;
    padding: 0;
}

header a:link, header a:visited, header a:hover, header a:active {
    color: white;
    text-decoration: none;
}

footer {
    background: #1E31AA;
    padding: 1em;
    margin-top: 2em;
    color: white;
    border-radius: 0 0 1em 1em;
}

footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}

footer a:hover, footer a:active {
    color: white;
    text-decoration: underline;
}
