<h1>{{user.lastname}}, {{user.firstname}}</h1>

<h2>Details</h2>
<table class="details row-data">
<tr><th>First name</th><td>{{ user.firstname }}</td></tr>
<tr><th>Last name</th><td>{{ user.lastname }}</td></tr>
<tr><th>Department</th><td>{{ user.department }}</td></tr>
<tr><th>Phone</th><td><ul><li *ngFor="let num of user.phone">{{ num }}</li></ul></td></tr>
<tr><th>E-mail</th><td><code>{{ user.email }}</code></td></tr>
<tr><th>Homepage</th><td><a href="{{ user.homepage }}">{{ user.homepage }}</a></td></tr>
</table>

<h2>Assets</h2>
<table class="details col-data">
<thead>
  <tr><th>Asset</th><th>Price</th><th>Date of purchase</th></tr>
</thead>
<tbody>
  <tr *ngFor="let asset of assets">
    <td>{{ asset }}</td>
    <td>?</td>
    <td>?</td>
  </tr>
</tbody>
</table>


<div *ngIf="user">

<h2 (click)="editing = true;" *ngIf="!editing">Edit ...</h2>

<div *ngIf="editing">

<form (ngSubmit)="save(); editing = false;">
<fieldset>
<legend>Edit a user</legend>
<dl>
    <dt><label for="user-first-name">First name:</label></dt>
    <dd><input [(ngModel)]="user.firstname" id="user-first-name" name="first-name" placeholder="First name"/></dd>
    <dt><label for="user-last-name">Last name:</label></dt>
    <dd><input [(ngModel)]="user.lastname" id="user-last-name" name="last-name" placeholder="Last name"/></dd>
    <dt><label for="user-department">Department:</label></dt>
    <dd><input [(ngModel)]="user.department" id="user-department" name="department" placeholder="Last name"/></dd>
    <dt><label for="user-email">E-mail:</label></dt>
    <dd><input [(ngModel)]="user.email" id="user-email" name="email" placeholder="email"/></dd>
    <dt><label for="user-homepage">Homepage:</label></dt>
    <dd><input [(ngModel)]="user.homepage" id="user-homepage" name="homepage" placeholder="http://www.example.com/"/></dd>
    <dt><button type="submit">Save</button></dt>
</dl>
</fieldset>
</form>

<form (ngSubmit)="delete(); editing = false;" class="delete">
<button type="submit">Delete user {{user.firstname}} {{user.lastname}}!</button>
</form>

</div>

</div>
