TABLE.details {
  border: 1px solid black;
  border-width: 1px 0px;
  border-collapse: collapse;
}
TABLE.details THEAD {
  border-bottom: 1px solid black;
}
TABLE.details TD, TABLE.details TH {
  padding: 5px;
}
TABLE.details UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
TABLE.row-data TH {
  text-align: right;
}
FORM.delete {
  margin-top: 2em;
}
FORM.delete BUTTON {
  background-color: #ff8;
  color: #800;
  padding: 1ex;
}
