nav {
    padding: 0;
    margin: 0;
}

nav a {
    padding: 1ex 1em;
    text-decoration: none;
    margin: 0 1em 0 1em;
    display: inline-block;
    background-color: #9A5100;
    border-radius: 0.5em 0.5em 0 0;
}

nav a:visited, a:link {
    color: white;
}

nav a:hover {
    color: black;
    background-color: #FFB96B;
}

nav a.active {
    color: #039be5;
}
